.upload-form{ 
	display: flex;
	flex-flow: column;
	align-items: stretch;
	height: 30%;
	width: 30%;
	margin: auto;
}

.upload-form > div {
	display: flex;
	flex-flow: column;
	padding: 5px;
}

.csv-upload {
	align-self: center;
}

.upload-submit {
	width: 45%;
	align-self: center;
	margin: 30px;
	background-color: #3B5998;
	border: 0px #3B5998;
	color: white;
	padding: 3%
}

label {
	padding-bottom: 10px;
}

input {
	text-align: center
}

